.change-password-mobile {
  padding: 16px;
  min-height: 100vh;
}

.change-password-header {
  margin-bottom: 24px;
}

.change-password-title {
  font-size: 24px;
  font-weight: 600;
  color: #333;
  margin: 0;
  text-align: center;
}

.change-password-form {
  margin-top: 16px;
}

.change-password-form .ant-form-item-label > label {
  font-weight: 500;
  color: #333;
}

